[Unit]
Description=Employee Management Application
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory={{ app_directory }}

ExecStart=/usr/bin/java -jar {{ app_directory }}/app.jar

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target